.palavraPalpite{
    display: flex;
    align-items: center;
    gap: .25em;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Nasalization Rg', sans-serif;
    padding: 1rem;
    margin: 1rem;
    position: absolute;
    bottom: 32%;
}

.palavraPalpite span {
    display: inline-block;
    text-align: center;
    border-bottom: .1em solid white;
    width: 65px;
}

@media screen and (max-width: 425px) {
    .palavraPalpite {
        font-size: 2.5rem;
        bottom: 29%;
    }

    .palavraPalpite span {
        width: 45px;
    }
    
}

@media screen and (max-width: 375px) {
    .palavraPalpite {
        font-size: 2.5rem;
        bottom: 27%;
    }

    .palavraPalpite span {
        display: inline-block;
        text-align: center;
        border-bottom: .1em solid white;
        width: 35px;
    }
}

@media screen and (max-width: 325px) {
    .palavraPalpite {
        font-size: 2rem;
        bottom: 27%;
    }

    .palavraPalpite span {
        display: inline-block;
        text-align: center;
        border-bottom: .1em solid white;
        width: 25px;
    }
}

